<form [formGroup]="childForm" >
    <div class="Recipe_Form_Ingredient_Count" >
        
        <div class="Recipe_Form_Ingredient_List">
        <input type="text" class="Ingredient_Name_Input"  placeholder="Total Ingredients..."
        formControlName="Name">
        <input type="number" class="Ingredient_Amount_Input"  placeholder="Total Ingredients count..."
        formControlName="Amount">
        <button class="Recipe_Form_Count_Submit_button" (click)=" RemoveEvent()">remove</button>
        
        
    
        </div>
    </div>

</form>

