<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Mangaement</title>
</head>
<body>
    <div class="Navbar_sidenav">
        <a routerLink="Home"> Home </a>

        <a routerLink="recipes"> Recipes </a>
        <a routerLink="recipeform">Add a Reciepes</a>
        <a routerLink="login"> Login</a>
    </div>
    <app-landing-page-container></app-landing-page-container>

</body>
</html>