
<div class="Recipe_Form_Container">
    <h2>Add your Recipes here.</h2>
    <div class="Recipe_Form_Section">
        <form [formGroup]="profileFormGroup" (submit)="handleSubmit($event)">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" formControlName="name" />
            </div>
            <div class="form-group">
                <label>Preparation Time:</label>
                <input class="form-control" formControlName="preparation_time" />
            </div>
            <div class="form-group">
                <label>Total  Time:</label>
                <input class="form-control" formControlName="total_time" />
            </div>

            <ng-container formArrayName="nutrition">
                <ng-container *ngFor="let i of nutrition.controls;let idx=index;">
                    <div class="form-group">
                        <label>Nutrition</label>
                        <form [formGroup]="i">
                            <div class="input-group mb-3" >
                                <input class="form-control" placeholder="Nutrition" formControlName="nutrition" />
                                <input class="form-control" placeholder="amount" formControlName="amount" />
                                <button (click)="removeNutrition(0)" type="button" class="Recipe_Form_Delete_button">delete</button>
                            </div>
                        </form>
                    </div>

                </ng-container>
            </ng-container>
            <br />
            <button (click)="addNewNutrition()" type="button" class="Recipe_Form_Add_button">Add Nutrition Values</button>
            <br />






          
            <ng-container formArrayName="category">
                <ng-container *ngFor="let a of category.controls;let idx=index;">
                    <div class="form-group">
                        <label>Category</label>
                        <form [formGroup]="a">
                            <div class="input-group mb-3" >
                                <input class="form-control" placeholder="Category" formControlName="category" />
                                <button (click)="removeCategory(0)" type="button" class="Recipe_Form_Delete_button">delete</button>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </ng-container>
            <br />
            <button (click)="addNewCategory()" type="button" class="Recipe_Form_Add_button">Add Category</button>
            <br />
            <ng-container formArrayName="items">
                <ng-container *ngFor="let i of items.controls;let idx=index;">
                    <div class="form-group">
                        <label>Ingredients</label>
                        <form [formGroup]="i">
                            <div class="input-group mb-3" >
                                <input class="form-control" placeholder="incredients" formControlName="ingredients" />
                                <input class="form-control" placeholder="amount" formControlName="amount" />
                                <button (click)="removeItems(0)" type="button" class="Recipe_Form_Delete_button">delete</button>
                            </div>
                        </form>
                    </div>

                </ng-container>
            </ng-container>
            <br />
            <button (click)="addNewItems()" type="button" class="Recipe_Form_Add_button">Add Ingredients</button>
            <br />
            <ng-container formArrayName="process">
                <ng-container *ngFor="let b of process.controls;let idx=index;">
                    <div class="form-group">
                        <label>Process</label>
                        <form [formGroup]="b">
                            <div class="input-group mb-3" >
                                <input class="form-control" placeholder="Enter the Process" formControlName="process" />
                                <button (click)="removeProcess(0)" type="button" class="Recipe_Form_Delete_button">delete</button>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </ng-container>
            <br />
            <button (click)="addNewProcess()" type="button" class="Recipe_Form_Add_button">Add Process</button>
            <br />






            <hr />
            <button class="Recipe_Form_Submit_button">submit</button>
            <hr />
        </form>
    </div>
    
</div>